<body>
    <div class="container">
        <h2>Job Table</h2>
        <ng-container *ngIf="jobList.length == 0;then empty;else jobSelected "></ng-container>
        <ng-template #jobSelected>
            <table>
                <thead>
                    <tr>
                        <th>Job ID</th>
                        <th>Job Name</th>
                        <th>Job Salary Range</th>
                        <th>Years of Skill</th>


                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let job of jobList">
                        <td>{{ job.jobId }}</td>
                        <td>{{ job.jobName }}</td>
                        <td>{{ job.jobSalary }}</td>
                        <td>{{ job.yearOfSkill }}</td>
                        <td></td>
                        <td>


                        </td>
                    </tr>
                </tbody>
            </table>

        </ng-template>
        <ng-template #empty>

        </ng-template>

    </div>
</body>