<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form</title>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">
            <header>Login</header>
            <form id="loginForm" action="">
                <input id="username" type="text" placeholder="Enter your name" required [(ngModel)]="user.userName"
                    name="username">
                <input id="email" type="email" placeholder="Enter your email" required [(ngModel)]="user.userEmail"
                    name="useremail">
                <input id="password" type="password" placeholder="Enter your password" required
                    [(ngModel)]="user.password" name="userpassword">
                <a href="#">Forgot password?</a>
                <input id="loginButton" type="submit" class="button" value="Login" (click)="login()">
            </form>
            <div class="signup">
                <span class="signup">Don't have an account?
                    <label for="check">Signup</label>
                </span>
            </div>
        </div>

        <!-- registration container -->

        <div class="registration form">
            <header>Signup</header>
            <form action="#" id="registationForm">
                <input id="reg-username" type="text" placeholder="Enter your name" required name="reg-name"
                    [(ngModel)]="user.userName">
                <input type="email" placeholder="Enter your email" id="reg-email" name="reg-email"
                    [(ngModel)]="user.userEmail">
                <input type="password" placeholder="Create a password" id="reg-password" name="reg-password"
                    [(ngModel)]="user.password">
                <input type="password" placeholder="Confirm your password" name="reg-password">
                <input id="registrationButton" type="submit" class="button" value="Sing Up" (click)="registration()">
            </form>
            <div class="signup">
                <span class="signup">Already have an account?
                    <label for="check">Login</label>
                </span>
            </div>

        </div>

        <!-- registration container -->

    </div>

    <!-- Include your separate JavaScript file -->

</body>

</html>