<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form</title>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <div class="container">

        <div class="login form">
            <header>Login</header>
            <form id="loginForm" action="">
                <input id="username" type="text" placeholder="Enter your name" required
                    [(ngModel)]="models.user.userName" name="username">
                <input id="email" type="email" placeholder="Enter your email" required
                    [(ngModel)]="models.user.userEmail" name="useremail">
                <input id="password" type="password" placeholder="Enter your password" required
                    [(ngModel)]="this.models.user.password" name="userpassword">
                <a href="#">Forgot password?</a>
                <input id="loginButton" type="submit" class="button" value="Login" (click)="login()">
            </form>
            <div class="signup">

                <span class="signup" routerLink="/registration">Don't have an account?
                    <label>signup</label>
                </span>


            </div>
        </div>


        <!-- registration container -->

    </div>

    <!-- Include your separate JavaScript file -->

</body>

</html>