


 
   body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000 !important;
    color: #fff;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    height: 100hv;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #06d85f; /* Heading color */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #000; /* Table background color */
    color: #fff; /* Table text color */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 0.5s ease-out;
}

th, td {
    padding: 15px;
    text-align: left;
}

thead {
    background-color: #000; /* Header background color */
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #222; /* Even row background color */
}

tbody tr:hover {
    background-color: #333; /* Hover row background color */
}

.update-btn, .delete-btn, .apply-btn {
    padding: 8px 16px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.update-btn {
    background-color: #007bff;
    color: #fff;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
}

.apply-btn {
    background-color: #06d85f;
    color: #fff;
}

.update-btn:hover, .delete-btn:hover, .apply-btn:hover {
    filter: brightness(0.9);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
